@font-face {
  font-family: "chikaraEN-Regular";
  src: url("../../../../assets/fonts/chikaraYowakuEN/LINESeedSans_Rg.ttf") format("truetype");
}
@font-face {
  font-family: "chikaraEN-Bold";
  src: url("../../../../assets/fonts/chikaraYowakuEN/LINESeedSans_Bd.ttf") format("truetype");
}
@font-face {
  font-family: "chikaraJP-Regular";
  src: url("../../../../assets/fonts/chikaraYowakuJP/LINESeedJP_TTF_Rg.ttf") format("truetype");
}
@font-face {
  font-family: "chikaraJP-Bold";
  src: url("../../../../assets/fonts/chikaraYowakuJP/LINESeedJP_TTF_Bd.ttf") format("truetype");
}
@font-face {
  font-family: "brat";
  src: url("../../../../assets/fonts/Brat.ttf");
}
@font-face {
  font-family: "numberHandWriting";
  src: url("../../../../assets/fonts/numbers/LeochNisa-512LV.ttf");
}
@font-face {
  font-family: "japaneseHandWriting";
  src: url("../../../../assets/fonts/851CHIKARA-DZUYOKU_kanaA_004.textClipping.ttf");
}
html {
  scroll-behavior: smooth;
}

*,
body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: "chikaraEN-Regular", sans-serif;
}

body {
  display: grid;
  grid-template-columns: 20vw 80vw;
  grid-template-areas: "header content" "copyright copyright";
}

header {
  display: grid;
  grid-template-rows: 40% 33% 25%;
  position: fixed;
  background-color: #00040d;
  height: 100vh;
  width: 20vw;
  grid-area: header;
}
header button {
  background-color: #00040d;
  font-family: "brat", sans-serif;
  border: none;
  color: #fafafa;
  font-size: 3rem;
  padding: 0.5rem;
  cursor: pointer;
  margin: 0;
}
header .buttons {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  cursor: pointer;
}
header .buttons button:hover {
  color: #00308F;
}
header .logo {
  padding-top: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
header .socialMedia {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
header .socialMedia i {
  font-size: 2rem;
}

main {
  position: relative;
  background-color: #fafafa;
  grid-area: content;
}
main .bar {
  position: relative;
  height: 35vh;
}
main .bar .title {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 7%;
}
main .bar .title h1 {
  font-family: "brat", sans-serif;
  color: #fafafa;
  position: relative;
  font-size: 6.8rem;
  display: grid;
  align-content: end;
  justify-content: start;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
main .bar .title h2 {
  font-family: "brat", sans-serif;
  font-size: 2.7rem;
}
main .bar p {
  position: relative;
  line-height: 2rem;
}
main .bar::before {
  content: "";
  position: absolute;
  background-image: url("../images/temp.jpg");
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
}
main .content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 57.5vh;
}
main .content .contentText {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10%;
}
main .content .contentText h1 {
  text-align: justify;
  line-height: 2rem;
  font-size: 1.12rem;
}
main .content .contentImage .image {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .content .contentImage .image img {
  box-shadow: 10px 10px 5px #ccc;
  padding: 1rem;
  width: 53%;
}

footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: copyright;
  color: #00040d;
  height: 7.5vh;
}
footer h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  font-size: 1rem;
}
footer p {
  font-family: "brat", sans-serif;
  font-size: 2rem;
  padding-top: 4%;
}/*# sourceMappingURL=about.css.map */