@font-face {
    font-family: "chikaraEN-Regular";
    src: url("../../../../assets/fonts/chikaraYowakuEN/LINESeedSans_Rg.ttf") format("truetype");
}

@font-face {
    font-family: "chikaraEN-Bold";
    src: url("../../../../assets/fonts/chikaraYowakuEN/LINESeedSans_Bd.ttf") format("truetype");
}

@font-face {
    font-family: "chikaraJP-Regular";
    src: url("../../../../assets/fonts/chikaraYowakuJP/LINESeedJP_TTF_Rg.ttf") format("truetype");
}

@font-face {
    font-family: "chikaraJP-Bold";
    src: url("../../../../assets/fonts/chikaraYowakuJP/LINESeedJP_TTF_Bd.ttf") format("truetype");
}

@font-face {
    font-family: "brat";
    src: url("../../../../assets/fonts/Brat.ttf");
}

@font-face {
    font-family: "numberHandWriting";
    src: url("../../../../assets/fonts/numbers/LeochNisa-512LV.ttf");
}

@font-face {
    font-family: "japaneseHandWriting";
    src: url("../../../../assets/fonts/851CHIKARA-DZUYOKU_kanaA_004.textClipping.ttf");
}

$font-main-EN-regular: "chikaraEN-Regular", sans-serif;
$font-main-EN-bold: "chikaraEN-Bold", sans-serif;
$font-main-JP-regular: "chikaraJP-Regular", sans-serif;
$font-main-JP-bold: "chikaraJP-Bold", sans-serif;
$font-main-JP-handwriting: "brat", sans-serif;
$font-main-NUM-handwriting: "numberHandWriting", sans-serif;
$font-main-JAP-handwriting: "japaneseHandWriting", sans-serif;

$color-main: #00040d;
$color-main-light: #fafafa;
$price-color: #00308F;


html {
    scroll-behavior: smooth;
}

*,
body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: $font-main-EN-regular;

}

body {
    display: grid;
    grid-template-columns: 20vw 80vw;
    grid-template-areas:
        "header content"
        "copyright copyright"
    ;
}

header {
    display: grid;
    grid-template-rows: 40% 33% 25%;
    position: fixed;
    background-color: $color-main;
    height: 100vh;
    width: 20vw;
    grid-area: header;

    button {
        background-color: $color-main;
        font-family: $font-main-JP-handwriting;
        border: none;
        color: $color-main-light;
        font-size: 3rem;
        padding: 0.5rem;
        cursor: pointer;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        align-items: center;
        cursor: pointer;

        button:hover {
            color: $price-color;
        }
    }

    .logo {
        padding-top: 3.5rem;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .socialMedia {
        display: flex;
        justify-content: center;
        gap: 2rem;

        i {
            font-size: 2rem;
        }
    }

    .dropdown,
    .titleMobile {
        display: none;
    }
}

main {
    position: relative;
    background-color: $color-main-light;
    grid-area: content;

    .bar {
        position: relative;
        height: 35vh;

        .title {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-top: 7%;

            h1 {
                font-family: $font-main-JP-handwriting;
                color: $color-main-light;
                position: relative;
                font-size: 6.8rem;
                display: grid;
                align-content: end;
                justify-content: start;
                text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
            }

            h2 {
                font-family: $font-main-JP-handwriting;
                font-size: 2.7rem;
            }

            .subtitle{
                margin-top: 2%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

        }

        p {
            position: relative;
            line-height: 2rem;
        }
    }

    .bar::before {
        content: "";
        position: absolute;
        background-image: url("../images/temp.jpg");
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-size: cover;
        background-position: center;
        opacity: 0.5;
    }

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 57.5vh;

        .contentText {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 10%;

            h1 {
                text-align: justify;
                line-height: 2rem;
                font-size: 1.12rem;
            }
        }

        .contentImage {
            .image {
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    box-shadow: 10px 10px 5px #ccc;
                    padding: 1rem;
                    width: 53%
                }
            }
            .zoom{
                transition: transform 0.3s;
            }
            .zoom:hover{
                transform: scale(1.1);
            }
        }
    }

}

footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: copyright;
    // background-color: $color-main-light;
    color: $color-main;
    height: 7.5vh;

    h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5%;
        font-size: 1rem;
    }

    p {
        // font-family: $font-main-NUM-handwriting;
        font-family: $font-main-JP-handwriting;
        font-size: 2rem;
        padding-top: 4%;
    }
    #socialMediaMobile{
        display: none;
    }
}

//Responsiveness


@media only screen and (max-width: 390px) {
    body {
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        display: grid;
        grid-template-rows: 18vh 90vh 10vh;
        grid-template-columns: 100%;
        grid-template-areas: "header" "content" "copyright";
        transition: all 0.5s ease;
        height: 100vh;
        width: 100vw;

    }

    header {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 100%;
        place-items: center;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100vw;
        height: 18vh;
        transition: all 0.5s ease;

        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            img {
                width: 72%;
            }

        }

        .titleMobile {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 9%;

            h1 {
                font-family: $font-main-JP-handwriting;
                color: $color-main-light;
                font-size: 3.2rem;
                text-align: center;
            }
        }

        .socialMedia,
        .buttons {
            display: none;
        }

        .dropdown {
            position: relative;
            display: inline;
            padding-right: 1%;
            transition: all 0.5s ease;
        }

        .nav-button {
            position: relative;
            height: 2.4rem;
            width: 2.8rem;
            background-color: transparent;
            background-image: linear-gradient(to right, currentColor, currentColor);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100% 5px;
            padding: 0;
            outline: 0;
            border: 0;
            color: $color-main-light;
            cursor: pointer;
            -webkit-tap-highlight-color: transparent;
            transition: .25s cubic-bezier(.17, .67, .89, 1.4);
            transition-property: transform;
            will-change: transform;
        }

        .nav-button::before,
        .nav-button::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            display: block;
            height: 5px;
            background: currentColor;
            transition: .25s;
            transition-property: transform, top;
            will-change: transform, top;
        }

        .nav-button::before {
            top: 0;
        }

        .nav-button::after {
            top: calc(100% - 4px);
        }

        $width: 60%;
        $transform2: rotate(-45deg) translate3d(-48%, 0, 0);
        $transform3: rotate(45deg) translate3d(-48%, 0, 0);

        .transform2:before {
            width: $width;
            transform: $transform2
        }

        .transform1:after {
            width: $width;
            transform: $transform3;
        }

    }

    .dropContent {
        position: absolute;
        background-color: $color-main;
        width: 100vw;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        display: none;
        margin-top: 30%;
        transition: all 0.5s ease;

        a {
            color: $color-main-light;
            font-size: 1rem;
            width: 100%;
            padding: 12px 16px;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        a:hover {
            background-color: $color-main-light;
            color: $color-main ;
        }

    }

    main {
        width: 100vw;
        height: 30vh;
        display: grid;
        grid-area: content;
        

        .bar {
            height: 100%;
            .title {
                h1 {
                    text-align: center;
                    width: 61%;
                    line-height: 4rem;
                    font-size: 3.1rem;
                }
                .subtitle{
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 5%;
                    h2{
                        font-size: 1rem;
                    }
                    h2:first-child{
                        font-size: 2.2rem;
                    }
                }


            }
        }

        .content {
            flex-direction: column;
            height: 50vh;
            .contentText {
                padding-right: 10%;
                padding-bottom: 5%;
                padding-top: 9%;
                h1 {
                    font-size: 0.8rem;
                }
            }
            .contentImage{
            .zoom:hover {
                    transform: scale(1);
                }
            }
        }

    }

    footer {
        display: flex;
        flex-direction: column-reverse;
        grid-area: copyright;
        background-color: $color-main;
        gap: 16%;
        height: 13vh;
        #socialMediaMobile{
            display: block;
            margin-bottom: 1%;
            padding-top: 1%;
            button{
                background-color: transparent;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 0;
                margin: 0;
                i{
                    color: $color-main-light;
                    font-size: 1.5rem;
                    margin: 0 1rem;
                }
            }
        }
        h1, p{
            color: $color-main-light;
            font-size: 1rem;
        }
        p{
            font-size: 1.7rem;
        }
    }

}