@font-face {
  font-family: "chikaraEN-Regular";
  src: url("../../../../assets/fonts/chikaraYowakuEN/LINESeedSans_Rg.ttf") format("truetype");
}
@font-face {
  font-family: "chikaraEN-Bold";
  src: url("../../../../assets/fonts/chikaraYowakuEN/LINESeedSans_Bd.ttf") format("truetype");
}
@font-face {
  font-family: "chikaraJP-Regular";
  src: url("../../../../assets/fonts/chikaraYowakuJP/LINESeedJP_TTF_Rg.ttf") format("truetype");
}
@font-face {
  font-family: "chikaraJP-Bold";
  src: url("../../../../assets/fonts/chikaraYowakuJP/LINESeedJP_TTF_Bd.ttf") format("truetype");
}
@font-face {
  font-family: "brat";
  src: url("../../../../assets/fonts/Brat.ttf");
}
@font-face {
  font-family: "numberHandWriting";
  src: url("../../../../assets/fonts/numbers/LeochNisa-512LV.ttf");
}
@font-face {
  font-family: "japaneseHandWriting";
  src: url("../../../../assets/fonts/851CHIKARA-DZUYOKU_kanaA_004.textClipping.ttf");
}
html {
  scroll-behavior: smooth;
}

*,
body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: "chikaraEN-Regular", sans-serif;
}

body {
  display: grid;
  grid-template-columns: 20vw 80vw;
  grid-template-areas: "header content" "copyright copyright";
}

header {
  display: grid;
  grid-template-rows: 40% 33% 25%;
  position: fixed;
  background-color: #00040d;
  height: 100vh;
  width: 20vw;
  grid-area: header;
}
header button {
  background-color: #00040d;
  font-family: "brat", sans-serif;
  border: none;
  color: #fafafa;
  font-size: 3rem;
  padding: 0.5rem;
  cursor: pointer;
}
header .buttons {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  cursor: pointer;
}
header .buttons button:hover {
  color: #00308F;
}
header .logo {
  padding-top: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
header .socialMedia {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
header .socialMedia i {
  font-size: 2rem;
}
header .dropdown,
header .titleMobile {
  display: none;
}

main {
  position: relative;
  background-color: #fafafa;
  grid-area: content;
}
main .bar {
  position: relative;
  height: 35vh;
}
main .bar .title {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 7%;
}
main .bar .title h1 {
  font-family: "brat", sans-serif;
  color: #fafafa;
  position: relative;
  font-size: 6.8rem;
  display: grid;
  align-content: end;
  justify-content: start;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
main .bar .title h2 {
  font-family: "brat", sans-serif;
  font-size: 2.7rem;
}
main .bar .title .subtitle {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .bar p {
  position: relative;
  line-height: 2rem;
}
main .bar::before {
  content: "";
  position: absolute;
  background-image: url("../images/backgroungRestaurant.jpeg");
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
}
main .content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 57.5vh;
}
main .content .contentText {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10%;
}
main .content .contentText h1 {
  text-align: justify;
  line-height: 2rem;
  font-size: 1.12rem;
}
main .content .contentImage .image {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .content .contentImage .image img {
  box-shadow: 10px 10px 5px #ccc;
  padding: 1rem;
  width: 53%;
}
main .content .contentImage .zoom {
  transition: transform 0.3s;
}
main .content .contentImage .zoom:hover {
  transform: scale(1.1);
}

footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: copyright;
  color: #00040d;
  height: 7.5vh;
}
footer h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  font-size: 1rem;
}
footer p {
  font-family: "brat", sans-serif;
  font-size: 2rem;
  padding-top: 4%;
}
footer #socialMediaMobile {
  display: none;
}

@media only screen and (max-width: 390px) {
  body {
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  header {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 100%;
    place-items: center;
    justify-content: center;
    align-items: center;
    position: inherit;
    width: 100vw;
    height: 18vh;
    transition: all 0.5s ease;
  }
  header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  header .logo a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .logo img {
    width: 72%;
  }
  header .titleMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 9%;
  }
  header .titleMobile h1 {
    font-family: "brat", sans-serif;
    color: #fafafa;
    font-size: 3.2rem;
    text-align: center;
  }
  header .socialMedia,
  header .buttons {
    display: none;
  }
  header .dropdown {
    position: relative;
    display: inline;
    padding-right: 1%;
    transition: all 0.5s ease;
  }
  header .nav-button {
    position: relative;
    height: 2.4rem;
    width: 2.8rem;
    background-color: transparent;
    background-image: linear-gradient(to right, currentColor, currentColor);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 5px;
    padding: 0;
    outline: 0;
    border: 0;
    color: #fafafa;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: 0.25s cubic-bezier(0.17, 0.67, 0.89, 1.4);
    transition-property: transform;
    will-change: transform;
  }
  header .nav-button::before,
  header .nav-button::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    height: 5px;
    background: currentColor;
    transition: 0.25s;
    transition-property: transform, top;
    will-change: transform, top;
  }
  header .nav-button::before {
    top: 0;
  }
  header .nav-button::after {
    top: calc(100% - 4px);
  }
  header .transform2:before {
    width: 60%;
    transform: rotate(-45deg) translate3d(-48%, 0, 0);
  }
  header .transform1:after {
    width: 60%;
    transform: rotate(45deg) translate3d(-48%, 0, 0);
  }
  .dropContent {
    position: absolute;
    background-color: #00040d;
    width: 100vw;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
    margin-top: 30%;
    transition: all 0.5s ease;
  }
  .dropContent a {
    color: #fafafa;
    font-size: 1rem;
    width: 100%;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dropContent a:hover {
    background-color: #fafafa;
    color: #00040d;
  }
  main {
    display: grid;
    position: relative;
  }
  main .bar {
    height: 100%;
  }
  main .bar .title h1 {
    text-align: center;
    width: 61%;
    line-height: 4rem;
    font-size: 3.1rem;
  }
  main .bar .title .subtitle {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
  }
  main .bar .title .subtitle h2 {
    font-size: 1rem;
  }
  main .bar .title .subtitle h2:first-child {
    font-size: 2.2rem;
  }
  main .content {
    flex-direction: column;
    height: 100%;
  }
  main .content .contentText {
    padding-right: 10%;
    padding-bottom: 5%;
    padding-top: 9%;
  }
  main .content .contentText h1 {
    font-size: 0.8rem;
  }
  main .content .contentImage {
    display: flex;
    justify-content: center;
  }
  main .content .contentImage .image {
    width: 66%;
    display: block;
    margin-right: 11%;
    margin-bottom: 10%;
  }
  main .content .contentImage .image img {
    width: 100%;
  }
  main .content .contentImage .zoom:hover {
    transform: scale(1);
  }
  footer {
    display: flex;
    flex-direction: column-reverse;
    background-color: #00040d;
    gap: 16%;
    height: 13vh;
  }
  footer #socialMediaMobile {
    display: block;
    margin-bottom: 4%;
    padding-top: 1%;
  }
  footer #socialMediaMobile button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
  }
  footer #socialMediaMobile button i {
    color: #fafafa;
    font-size: 1.5rem;
    margin: 0 1rem;
  }
  footer h1, footer p {
    color: #fafafa;
    font-size: 1rem;
  }
  footer p {
    font-size: 1.7rem;
  }
}/*# sourceMappingURL=about.css.map */