@font-face {
    font-family: "ramenRegular";
    src: url(../fonts/chikaraYowakuEN/LINESeedSans_Rg.ttf) format("truetype");
}
@font-face {
  font-family: "chikaraEN-Regular";
  src: url("../../../../assets/fonts/chikaraYowakuEN/LINESeedSans_Rg.ttf") format("truetype");
}
@font-face {
  font-family: "chikaraEN-Bold";
  src: url("../../../../assets/fonts/chikaraYowakuEN/LINESeedSans_Bd.ttf") format("truetype");
}
@font-face {
  font-family: "chikaraJP-Regular";
  src: url("../../../../assets/fonts/chikaraYowakuJP/LINESeedJP_TTF_Rg.ttf") format("truetype");
}
@font-face {
  font-family: "chikaraJP-Bold";
  src: url("../../../../assets/fonts/chikaraYowakuJP/LINESeedJP_TTF_Bd.ttf") format("truetype");
}
@font-face {
  font-family: "brat";
  src: url("../../../../assets/fonts/Brat.ttf");
}
@font-face {
  font-family: "numberHandWriting";
  src: url("../../../../assets/fonts/numbers/LeochNisa-512LV.ttf");
}
@font-face {
  font-family: "japaneseHandWriting";
  src: url("../../../../assets/fonts/851CHIKARA-DZUYOKU_kanaA_004.textClipping.ttf");
}



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "ramenRegular";
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 80% 20%;
    margin: 0;
}

header {
    display: grid;
    grid-template-rows: 40% 33% 25%;
    position: fixed;
    background-color: #00040d;
    height: 100vh;
    width: 20vw;
    grid-area: header;
  }



header button {
    background-color: #00040d;
    font-family: "brat", sans-serif;
    border: none;
    color: #fafafa;
    font-size: 3rem;
    padding: 0.5rem;
    cursor: pointer;
    margin: 0;
  }
  header .buttons {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    cursor: pointer;
  }
  header .buttons button:hover {
    color: #00308F;
  }
  header .logo {
    padding-top: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

.buttons button {
    color: white;
    font-size: 3rem;
    display: block;
    background-color: black;
    border:none;
    font-family: "brat", sans-serif;
    color: #fafafa;
}

.socialMedia {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 2rem;
}

header .socialMedia i {
    font-size: 2rem;
    color: white;
  }

  

main {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
    background-image: url("/assets/images/background-image.jpg");
    background-color:rgba(255,255,255,0.3);
    background-blend-mode:lighten;
    background-size: cover;
    color: black;
    display: flex;
    flex-direction: column;
}

main h1 {
    font-size: 5em;
    text-align: center;
    margin: 2em 0 1.5em 0;
    font-family: "brat", sans-serif;
    color: black;
}



.in-main {
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.buttonInMain {
    width: 40%;
    height: 170%;
    border: 1px solid;
    border-radius: 50%;
    /* background-color: transparent; */
    margin: 0 auto;
}

.buttonInMain :hover {
    width: 35%;
    height: 170%;
    border-radius: 50%;
    /* background-color: white;
    color: black; */
    background-color: black;
    color: white;
    transition-duration: 1s;
}

.buttonInMain button {
    color: black;
    /* border: 1px solid; */
    /* background-color: white; */
    background-color: transparent;
    font-weight:  bold;
    border-radius: 50%;
    cursor: pointer;
    /* margin: 0 auto; */
    height: 100%;
    width: 100%;

}


footer {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    background-color: black;
    color: white;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0.5em;
    font-size: small;
}

footer h3 {
    margin: 0 0 10px 0;
}

.footer-left {

    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.business-hour {
    display: flex;
}

.days1, .days2 {
    padding-right: 1.2em;
}

.days1 p, .days2 p {
    padding-top: 5px;
}

.hours1 {
    padding-right: 3em;
}

.hours1 p, .hours2 p {
    padding-top: 5px;

}

.footer-right {
    width: 50%;
    display: flex;
}

.restaurant-information {
    width: 40%;
    height: 100%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
}


.restaurant-information a {
    color: white;
}

.address {
    line-height: 1.5em;
    padding-top: 5px;

}

.contact {
    display:inline;
    line-height: 1.5em;
    letter-spacing:;
}

.vistUs {
    width: 50%;
    margin: 0 auto;
}

.map {
    position: relative;
    padding: 0;
    width: 33%;
    margin: 0;
}

.map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 18em;
    height: 8em;
}