@font-face {
    font-family: "chikaraEN-Regular";
    src: url("../../../../assets/fonts/chikaraYowakuEN/LINESeedSans_Rg.ttf") format("truetype");
}

@font-face {
    font-family: "chikaraEN-Bold";
    src: url("../../../../assets/fonts/chikaraYowakuEN/LINESeedSans_Bd.ttf") format("truetype");
}

@font-face {
    font-family: "chikaraJP-Regular";
    src: url("../../../../assets/fonts/chikaraYowakuJP/LINESeedJP_TTF_Rg.ttf") format("truetype");
}

@font-face {
    font-family: "chikaraJP-Bold";
    src: url("../../../../assets/fonts/chikaraYowakuJP/LINESeedJP_TTF_Bd.ttf") format("truetype");
}

@font-face {
    font-family: "brat";
    src: url("../../../../assets/fonts/Brat.ttf");
}

@font-face {
    font-family: "numberHandWriting";
    src: url("../../../../assets/fonts/numbers/LeochNisa-512LV.ttf");
}

@font-face {
    font-family: "brushJapanese";
    src: url("../../../../assets/fonts/851CHIKARA-DZUYOKU_kanaA_004.ttf");
}

$font-main-EN-regular: "chikaraEN-Regular", sans-serif;
$font-main-EN-bold: "chikaraEN-Bold", sans-serif;
$font-main-JP-regular: "chikaraJP-Regular", sans-serif;
$font-main-JP-bold: "chikaraJP-Bold", sans-serif;
$font-main-JP-handwriting: "brat", sans-serif;
$font-main-NUM-handwriting: "numberHandWriting", sans-serif;
$font-menu-brushJP: "brushJapanese", sans-serif;

$color-main: #00040d;
$color-main-light: #fafafa;
$price-color: #00308F;

body {
    display: grid;
    grid-template-columns: 20vw 80vw;
    grid-template-areas:
        "header content"
    ;
}

main {
    position: relative;
    background-color: $color-main-light;
    grid-area: content;

    .bar {
        position: relative;
        height: 100%;

        .title {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-top: 10%;
            gap: 3rem;

            h1 {
                font-family: $font-main-JP-handwriting;
                font-weight: 100;
                color: $color-main;
                position: relative;
                font-size: 7rem;
                display: grid;
                align-content: end;
                justify-content: start;
            }
        }

        .buttonsBar {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 10%;
            gap: 15%;

            .homepageBtn{
                outline: none;
                font-weight: bold;
                font-size: larger;
                color: black;
                padding: 10px 30px;
                position: relative;
                background-color: $color-main-light;
                width: 8rem;
                height: 3rem;
                cursor: pointer;
                .buttonBar{
                    border: none;
                    width: 100%;
                    height: 100%;
                    background-color: $color-main-light;
                    letter-spacing: 2px;
                }
            }
            .homepageBtn::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 0%;
                height: 0%;
                border: 3px solid transparent;
                box-sizing: border-box;
                transition: all 1s ease-in-out;
                border-right: none;
                border-bottom: none;
            }
            .homepageBtn:hover::before{
                width: 150%;
                height: 150%;
                border-color: $color-main;
                border-right: none;
                border-bottom: none;
                transition: all 1s ease-in-out;
            }

            .homepageBtn::after{
                content: "";
                position: absolute;
                bottom: 0;
                right: 0;
                width: 0%;
                height: 0%;
                border: 3px solid transparent;
                box-sizing: border-box;
                transition: all 1s ease-in-out;
                border-left: none;
                border-top: none;
            }

            .homepageBtn:hover::after{
                width: 150%;
                height: 150%;
                border-color: $color-main;
                border-left: none;
                border-top: none;
                transition: all 1s ease-in-out;
            }
        }
    }

    .bar::before {
        content: "";
        position: absolute;
        background-image: url("../images/back3.jpg");
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-size: cover;
        background-position: center;
        opacity: 0.5;
    }

}

footer {
    .footerMobile {
        display: none;
    }
}


//Responsiveness


@media only screen and (max-width: 1036px) {
    body {
        transition: all 0.5s ease;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        overflow-x: hidden;

    }

    header {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 100%;
        place-items: center;
        justify-content: center;
        align-items: center;
        position: inherit;
        width: 100%;
        height: 18vh;
        transition: all 0.5s ease;

        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            img {
                width: 72%;
            }

        }

        .titleMobile {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 9%;

            h1 {
                font-family: $font-main-JP-handwriting;
                color: $color-main-light;
                font-size: 3.2rem;
                text-align: center;
            }
        }

        .socialMedia,
        .buttons {
            display: none;
        }

        .dropdown {
            position: relative;
            display: inline;
            padding-right: 1%;
            transition: all 0.5s ease;
        }

        .nav-button {
            position: relative;
            height: 2.4rem;
            width: 2.8rem;
            background-color: transparent;
            background-image: linear-gradient(to right, currentColor, currentColor);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100% 5px;
            padding: 0;
            outline: 0;
            border: 0;
            color: $color-main-light;
            cursor: pointer;
            -webkit-tap-highlight-color: transparent;
            transition: .25s cubic-bezier(.17, .67, .89, 1.4);
            transition-property: transform;
            will-change: transform;
        }

        .nav-button::before,
        .nav-button::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            display: block;
            height: 5px;
            background: currentColor;
            transition: .25s;
            transition-property: transform, top;
            will-change: transform, top;
        }

        .nav-button::before {
            top: 0;
        }

        .nav-button::after {
            top: calc(100% - 4px);
        }

        $width: 60%;
        $transform2: rotate(-45deg) translate3d(-48%, 0, 0);
        $transform3: rotate(45deg) translate3d(-48%, 0, 0);

        .transform2:before {
            width: $width;
            transform: $transform2
        }

        .transform1:after {
            width: $width;
            transform: $transform3;
        }

    }

    .dropContent {
        position: absolute;
        background-color: $color-main;
        width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        display: none;
        margin-top: 34%;
        transition: all 0.5s ease;

        a {
            color: $color-main-light;
            font-size: 1rem;
            width: 100%;
            padding: 4% 0%;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        a:hover {
            background-color: $color-main-light;
            color: $color-main ;
        }

    }

    main {
        .bar {
            height: 44vh;

            .title {
                padding-top: 9rem;

                h1 {
                    font-size: 3.2rem;
                    font-weight: 100;
                }
            }

            .buttonBar {
                display: none;
            }
        }

    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        .footer-left {
            h3 {
                padding: {
                    left: 1rem;
                    top: 1rem;
                }

                ;
                font-size: 1rem;
            }

            .business-hour {
                display: grid;
                // grid-template-rows: repeat(2, minmax(min-content, max-content));
                // grid-template-columns: repeat(2, minmax(min-content, max-content));
                grid-template-columns: 30vw 50vw;
                grid-template-rows: 50% 50%;
                row-gap: 6px;
                padding-left: 11px;
                padding-bottom: 1rem;
            }
        }

        .footer-right {
            display: grid;
            // grid-template-columns: 50% 50%;
            grid-template-columns: repeat(2, minmax(min-content, max-content));
            grid-template-areas: "address map";

            .restaurant-information {
                width: 100%;
                grid-area: address;

                h3 {
                    padding: {
                        left: 0.4rem;
                        top: 1rem;
                    }

                    ;
                    font-size: 1rem;
                }
            }

            .vistUs {
                grid-area: map;
                display: flex;
                // align-items: center;
                justify-content: center;
                width: 50%;

                h3 {
                    display: none;
                }

                .map {
                    margin-top: 1.4rem;

                    iframe {
                        width: 11rem;
                    }
                }
            }
        }

        .footerMobile {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column-reverse;
            margin-bottom: 1rem;
            margin-top: 2rem;
            width: 100%;

            h1 {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5%;
                font-size: 1rem;
            }

            p {
                // font-family: $font-main-NUM-handwriting;
                font-family: $font-main-JP-handwriting;
                font-size: 2rem;
                padding-top: 4%;
            }

            #socialMediaMobile{
                display: flex;
                padding-bottom: 1rem;
                button {
                    background-color: transparent;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    padding: 0;
                    margin: 0;
    
                    i {
                        color: $color-main-light;
                        font-size: 1.5rem;
                        margin: 0 1rem;
                    }
    
                }
    
                button:hover {
                    .fa-instagram {
                        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
                        -webkit-background-clip: text;
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
    
                    .fa-facebook {
                        background: #2372a3;
                        -webkit-background-clip: text;
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }

            }

        }

    }

}