body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 75% 25%;
    margin: 0;
}

.side-nav {
    grid-column: 1/2;
    grid-row: 1/-1;
    background-color: black;
    height: 100%;
    width: 20%;
    position: fixed;
    display: flex;
    flex-direction: column;
}

.logo {
    margin: 0;
}

.logo img {
    border-radius: 50%;
    width: 100%;
}

.buttons {
}

.buttons button {
    color: white;
    font-size: x-large;
    margin-bottom: 70px;
    display: block;
    margin: 1.8em auto;
    background-color: black;
    border:none;
}

button {
    cursor: pointer;
}

.sns-icons {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    height: 100%;
    padding-bottom: 8em;
}

.sns-icons a {
}

.fab {
    font-size: xx-large;
    color: white;
}

.main {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
    /* margin: 0 auto; */
    background-image: url("/assets/images/background-image.jpg");
    background-size: cover;
    color: black;
    display: flex;
    flex-direction: column;
}

.main h1 {
    font-size: 350%;
    text-align: center;
    margin: 2em 0 1.5em 0;
    font-family: Brush Script MT;
}

.in-main {
    width: 70%;
    display: flex;
    /* justify-content: center; */
    margin: 0 auto;
}


.in-main button {
    color: black;
    background-color: transparent;
    /* align-items: center; */
}

.footer {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    background-color: black;
    color: white;
    padding: 30px;
    width: auto;
    height: auto;
    margin: 0;
    font-size: smaller;
    justify-content: space-evenly;
}

.footer h3 {
    margin: 0 0 10px 0;
}

.footer p {
    margin: 0;
    padding-top: 5px;
    /* font-size: larger; */
}

.business-hour {
    margin-right: 30px;
    width: 33%;
    height: auto;
}

.restaurant-information {
    width: 33%;
}

.address {
    line-height: 1.5em;
}

.contact {
    display:inline;
    line-height: 4em;
}


.map {
    position: relative;
    padding: 0;
    width: 33%;
    margin: 0;
}

.map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 20em;
    height: 12em;
}

